ul li img{
    height: 35px;
}
body {
    background-color: #f9ebe0;
}

.navbar{
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: #60492c;
    color: #208aae;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

li {
    display: inline-block;
    padding: 5px;
}
h1 {
    font-size: 4em;
    display: flex;
    justify-content: space-around;
    background-color: #60492c;
    border-radius: 30px;
    margin: 20px 40px;color: #208aae;
    box-shadow: 15px 10px 5px #208aae;
}